<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><%= title %></title>
    <%- include('../partials/css') %>
    <%- css %>
</head>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark preload-transitions 1-column blank-page blank-page" data-open="click" data-menu="vertical-menu-nav-dark" data-col="1-column">
    <%- main %>
    <%- include('../partials/js') %>
    <%- script %>
</body>
</html>